body {
    background-color: #001020;
    padding: 1em;
}

.main-box {
    display: flex;
}

.btn-group {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.btn-group button {
    margin: 0.2rem;
    padding: 0.5rem 0.8rem;
    font-size: 1.3rem;
    color: #ff7d00;
    background-color: #002532;
    border: 0;
    border-radius: 5px;
}

#output {
    max-width: 70vh;
    font-size: larger;
    background-color: #001524;
    border: 0;
    font-size: large;
    color: #ff7d00;
    border: 1px solid #ff7d00;
    padding: 0.5rem;
}
